<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Editar Categoria</title>
</head>
<body>
    <h1>Edicion: Categoria</h1>
    <form action="/categorias/modificar" method="post">
        <label>idCategoria:</label>
        <input type="number" name="idCategoria" value="{{category.idCategoria}}">
        <br>
        <label>Nombre Categoria:</label>
        <input type="text" name="nombre" value="{{category.nombre}}">
        <br>
        <label>Semestre Limite:</label>
        <input type="text" name="semestreLimite" value="{{category.semestreLimite}}">
        <br>
        <label>idProblemaPropuesto:</label>
        <input type="number" name="idProPue" value="{{category.idProPue}}">
        <br>
        <button type="sumbit" class="btn btn-success">Guardar Cambios</button>
        <!--<a type="sumbit" class="btn btn-success" >Guardar Cambios</a>-->
        <!--<input type="submit" value="Guardar Cambios">-->
        <button class="btn btn-danger">Cancelar</button>
    </form>

</body>
</html>