body {
    background-image: url(../img/gui-Login.PNG);
    transition: 0.2s ease-in;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

h1 {
    color: white;
    text-align: center;
    font-size: 45px;
    font-family: monospace;
}

p {
    color:  wheat;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

form {
   text-align: center;
}

.eliminarAlumnos {
    text-align: center;
    background:   rgba(37, 37, 37, 0.849);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568) ;
}