body{
    background-image: url(../img/gui-Login.PNG);
    transition: 0.2s ease-in;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
ul{
    background: rgb(24, 66, 131);
    color: white;
    font-size: 18px;
    padding: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568) ;
    transition: 0.2s ease-in;
}
h1{
    background:  rgb(24, 66, 131);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.692);
    font-size: 45px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: rgb(255, 255, 255);
}
#copy{
    position: relative;
    top: auto;
    background: rgb(24, 66, 131);
    color: seashell;
}
footer{
    align-self: flex-end;
    padding: 3px;  
    display: block;
}
#SitioITESZ{
    color: white;
}
#Encabezado{
    background:   rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.356);
    border-bottom-style: groove;
    border-bottom-width: 7px;
    font-size: 30px;
    color: rgb(24, 66, 131);
  }
  #texto1{
    color: wheat;
}

