<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Consultar Categorias</title>
</head>
<body>
<ul class="nav nav-tabs">
      <li class="nav-item">
    <a class="nav-link" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Alumnos">Alumnos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/Categorias">Categorias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Docentes">Docentes</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/Problemas">BancoProblemas</a>
  </li>
      <li class="nav-item">
    <a class="nav-link" href="/PPropue">PPropuestos</a>
  </li>

</ul>
    <h1>Consulta General: Categorias</h1>
    <table class="table table-striped" border="1">
        <thead>
        <th>idProPue</th>
        <th>nombre</th>
        <th>semestreLimite</th>
        <th>idCategoria</th>
        <th>Editar</th>
        <th>Eliminar</th>
        </thead>
        {% for a in categoryGeneral %}
         <tr>
             <td>{{a.idProPue}}</td>
             <td>{{a.nombre}}</td>
             <td>{{a.semestreLimite}}</td>
             <td>{{a.idCategoria}}</td>
             <td><a href="/categorias/{{a.idCategoria}}"><img src="{{url_for('static',filename='IMG/modificar.png')}}"></a></td>
             <td><a href="/categorias/eliminar/{{a.idCategoria}}"><img src="{{url_for('static',filename='IMG/eliminar.png')}}"></a></td>
         </tr>
        {% endfor %}
    </table>
<a href="/categorias/new" class="btn btn-success" role="button">Añadir Categoria</a>

</body>
</html>