<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConcursoPRO20207B</title>
</head>
<body>
    <h1>Registro Categorias</h1>
    <form action="/categorias/guardar" method="POST">
        <ldbel>Semestre Limite:</ldbel>
        <input type="number" required name="nombre" maxlength="30">
        <br>
        <label>idCategoria:</label>
        <input type="number" required name="semestreLimite">
        <br>
        <label>idProblemasPropuestos:</label>
        <input type="number" required name="idProPue">
        <input type="submit" value="Guardar">
    </form>
</body>
</html>