<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConcursoPRO20207B</title>
</head>
<body>
    <h1>Registro Categorias</h1>
    <form action="/Categorias/save" method="post">
        <label>Nombre Categoria:</label>
        <input type="text" required name="nombreCAT" maxlength="30" >
        <br>
        <label>Semestre Limite:</label>
        <input type="text" required name="sLimite" maxlength="2">
        <br>
        <label>idCategoria:</label>
        <input type="number" required name="idProPue">
        <br>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>