<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Consultar Docentes</title>
</head>
<body>
<ul class="nav nav-tabs">
      <li class="nav-item">
    <a class="nav-link" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Alumnos">Alumnos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Categorias">Categorias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/Docentes">Docentes</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/Problemas">BancoProblemas</a>
  </li>
      <li class="nav-item">
    <a class="nav-link" href="/PPropue">PPropuestos</a>
  </li>

</ul>
    <h1>Consulta General: Docentes</h1>
    <table class="table table-striped" border="1">
        <thead>
        <th>idDocente</th>
        <th>escolaridad</th>
        <th>Especialidad</th>
        <th>Cedula</th>
        <th>idCarrera</th>
        <th>idUsuario</th>
        <th>noControl</th>
        <th>Editar</th>
        <th>Eliminar</th>
        </thead>
        {% for a in docentisyGeneral %}
         <tr>
             <td>{{a.idDocente}}</td>
             <td>{{a.escolaridad}}</td>
             <td>{{a.especialidad}}</td>
             <td>{{a.cedula}}</td>
             <td>{{a.idCarrera}}</td>
             <td>{{a.idUsuario}}</td>
             <td>{{a.noControl}}</td>
             <td><a href="/docentes/{{a.idDocente}}"><img src="{{url_for('static',filename='IMG/modificar.png')}}"></a></td>
             <td><a href="/docentes/eliminar/{{a.idDocente}}"><img src="{{url_for('static',filename='IMG/eliminar.png')}}"></a></td>
         </tr>
        {% endfor %}
    </table>
<a href="/docentes/new" class="btn btn-warning" role="button">Añadir Docente</a>

</body>
</html>