<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConcursoPRO20207B</title>
</head>
<a href="/Docentes"> Regresar </a>
<body>
    <h1>Registro Docentes</h1>
    <form action="/docentes/guardar" method="POST">
        <label>idDocente</label>
        <input type="number" required name="idDocente"  >
        <br>
        <label>Escolaridad:</label>
        <input type="text" required name="escolaridad"  >
        <br>
        <label>Especialidad:</label>
        <input type="text" required name="especialidad" >
        <br>
        <label>Cedula:</label>
        <input type="number" required name="cedula" >
        <br>
        <label>idCarrera:</label>
        <input type="number" required name="idCarrera">
        <br>
        <br>
        <label>idUsuario:</label>
        <input type="number" required name="idUsuario">
        <br>
        <label>noControl:</label>
        <input type="number" required name="noControl">
        <input type="submit" value="Guardar">
    </form>
</body>
<head>
