<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>TecZamora</title>
    </head>
    <body>
        <header>
            <b>
                <center>INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA</center>
            </b>
        </header>
        <form>
            <div class="row justify-content-center pt-lg-2 mt-3 mr-1">
                <div class="form-group text-dark pt-lg-3">
                    <strong>
                        <h1>Bienvenido <b>{{current_user.nombre}}</b> al Concurso de Programación del ITESZ</h1>
                    </strong>
                    <img src="img/java.png" alt="logoJava" width="200" height="200">
                    <img src="img/C++_Logo.svg.png" alt="logoC" width="170" height="170">
                    <img src="img/tec-navBar.png" alt="logoTECZ" width="200" height="200">
                    <img src="img/mysql.png" alt="logoMySQL" width="200" height="200">
                    <img src="img/sql-server.png" alt="logoSQLS" width="200" height="200">
                </div>
            </div>
        </form>
        <br><br>
        <img src="{{url_for('static',filename='img/ZorroITESZ.png' alt='Mascota de la escuela)' width= '500' height='300'}}">
        <footer class="navBar-expand-sm">
            <center>
                <img src="{{url_for('static',filename='img/logoACC.png')}}">
                <img src="{{url_for('static',filename='img/ISC.png')}}">
                <img src="{{url_for('static',filename='img/ITIC.png')}}">
                <img src="{{url_for('static',filename='img/INGE.png')}}">
            </center>
            <br>
            <center>
                <p><a class="btn link" href="https://www.teczamora.mx/">Sitio web del ITESZ</a>
                   <br>&copy; Derechos Reservados 2020</p>
            </center>

        </footer>
    </body>
</html>
