<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static',filename='CSS/Carrera.css')}}">
        <title>TecZamora</title>
    </head>
    <body>

    <!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/Alumnos">Alumnos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Categorias">Categorias</a>
    </li>
          <li class="nav-item">
      <a class="nav-link" href="/Docentes">Docentes</a>
    </li>
          <li class="nav-item">
      <a class="nav-link" href="/Problemas">bancoProblemas</a>
    </li>
          <li class="nav-item">
      <a class="nav-link" href="/PPropue">PPropuestos</a>
    </li>



  </ul>
</nav>

       <nav class="form-group navbar-expand-sm bg-dark navbar-dark">
           <img class="navBar-brand" href="">
           <ul class="navBar-nav">
              <!-- <li class="nav-item">
                    <a class="nav-link" href="/Alumnos">Alumnos</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="/categorias">Categorias</a>
               </li> -->
               <li class="nav-item">
                   <a class="nav-link" href="/cerrarSesion">CerrarSesion</a>
               </li>
           </ul>
        </nav>
        <header>
            <b>
                <center>INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA</center>
            </b>
        </header>
        <form align = "center">
            <div class="row justify-content-center pt-lg-2 mt-3 mr-1">
                <div class="form-group text-dark pt-lg-3">
                    <strong>
                        <h1>Bienvenido(a) <b>{{current_user.nombre}}</b> al Concurso de Programación del ITESZ</h1>
                    </strong>
                    <img width="170" height="170" src={{url_for('static',filename='img/java.png')}} >
                    <img width="170" height="170" src={{url_for('static',filename='img/C++_Logo.svg.png')}}>
                    <img width="200" height="200" src={{url_for('static',filename='img/tec-navBar.png')}}>
                    <img width="200" height="200" src={{url_for('static',filename='img/mysql.png')}}>
                    <img width="200" height="200" src={{url_for('static',filename='img/sql-server.png')}}>
                </div>
            </div>
        </form>
       <br><br><br><br><br><br><br><br><br><br><br>
        <footer id="copy" class="navBar-expand-sm">
            <center>
                <img src="{{url_for('static',filename='img/logoACC.png')}}">
                <img src="{{url_for('static',filename='img/ISC.png')}}">
                <img src="{{url_for('static',filename='img/ITIC.png')}}">
                <img src="{{url_for('static',filename='img/INGE E.png')}}">
            </center>
            <br>
            <center>
                <p><a id="SitioITESZ" class="btn link" href="https://www.teczamora.mx/">Sitio web del ITESZ</a>
                   <br>&copy; Derechos Reservados 2020</p>
            </center>

        </footer>
    </body>
</html>
