<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConcursoPRO20207B</title>
</head>
<body>
    <h1>Registro Alumnos</h1>
    <form action="/alumnos/guardar" method="POST">
        <label>Globo:</label>
        <input type="text" required name="globo" maxlength="15" >
        <br>
        <label>idProblema:</label>
        <input type="number" required name="idProblema" maxlength="2" >
        <br>
        <label>idEdicion:</label>
        <input type="number" required name="idEdicion" >
        <br>
        <label>idCategoria:</label>
        <input type="number" required name="idCategoria" >
        <br>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>