<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet"  href="../CSS/Carrera.css">
        <link rel="icon" href="../img/Icono.ico">
        <title>Consultar Carrera</title>
    </head>
    <body>
        <nav class="form-group navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <img src="../img/tec-navBar.png" alt="Logo" style="width: 40px;">
                <!--Alumnos-->
                <li class="nav-item">
                    <div class="container">
                        <div class="dropdown">
                            <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">Alumnos</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../Alumnos/altaAlumnos.html">altaAlumnos</a>
                                <a class="dropdown-item" href="../Alumnos/consultarAlumnos.html">ConsultarAlumnos</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--Categorias-->
                <li class="nav-item">
                    <div class="container">
                            <div class="dropdown">
                                <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">Categorias</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="../Categorias/altaCategorias.html">altaCategorias</a>
                                    <a class="dropdown-item" href="../Categorias/eliminarCategoria.html">eliminarCategoria</a>
                                </div>
                            </div>
                        </div>
                </li>
                <!---->
                <li class="nav-item ">
                    <div class="container">
                        <div class="dropdown">
                            <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">Docentes</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../Docentes/altaDocentes.html">altaDocentes</a>
                                <a class="dropdown-item" href="../Docentes/consultarDocentes.html">consultarDocentes</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--ProblemasPropuestos-->
                <li class="nav-item">
                    <div class="container">
                        <div class="dropdown">
                            <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">ProblemasPropuestos</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#"></a>
                                <a class="dropdown-item" href="#"></a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--ProblemasResueltos-->
                <li class="nav-item">
                    <div class="container">
                        <div class="dropdown">
                            <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">ProblemasResueltos</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#"></a>
                                <a class="dropdown-item" href="#"></a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--BancoProblemas-->
                <li class="nav-item">
                    <div class="container">
                        <div class="dropdown">
                            <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">BancoProblemas</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../bancoProblemas/Problemas.html">BancoProblemas</a>
                                <a class="dropdown-item" href="#"></a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--Carreras-->
                <li class="nav-item active">
                    <div class="container">
                        <div class="dropdown">
                            <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">Carreras</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="AltaCarrera.html">AltaCarrera</a>
                                <a class="dropdown-item" href="ModificarCarrera.html">ModificarCarrera</a>
                                <a class="dropdown-item" href="EliminarCarrera.html">EliminarCarrera</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!---->
                <li class="nav-item">
                    <a class="nav-link" href="../Ediciones/AltaEdiciones.html">Ediciones</a>
                </li>
                <!---->
                <li class="nav-item">
                    <a class="nav-link" href="../Equipos/AltaRegistroEquipos.html">Equipos</a>
                </li>
                <!---->
                <li>
                    <a class="nav-link" href="#">Usuarios</a>
                </li>
       
            </ul>

        </nav>
    </body>





</html>