<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/User.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Consulta</title>
</HEAD>

<BODY>
    <nav class="form-group navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <img src="../img/tec-navBar.png" alt="Logo" style="width:40px;">
            <li class="nav-item active">
                <a class="nav-link" href="#">Consulta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Categorias</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">Docentes</a>
            </li>
            <li class="nav-item">
                <div class="container">                                     
                    <div class="dropdown">
                      <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">
                        Problemas
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="../bancoProblemas/Problemas.html">Banco</a>
                        <a class="dropdown-item" href="../problemasPropuestos/readme.txt">Propuesta</a>
                        <a class="dropdown-item" href="../problemasResueltos/readme.txt">Resultados</a>
                      </div>
                    </div>
                </div>
            </li>
            <li class="nav-item" id="Cerrar">
            <button type="button" class="close" data-dismiss = "modal" aria-label="close">
                Cerrar
                <span aria-hidden="true">
                    &times; 
                </span>
            </button>
            </li>   
        </ul>
    </nav>

    <main>
        <section>
           <h1>Consulta</h1>
           <div class="text-center">
           <!--<img src="#" class="rounded-circle" width="100px">-->
           <br>
           <Label>Buscar:</Label>
           <input type="text" placeholder="Buscar por nombre" name="nombre">
           <button>Buscar</button>
           <br>
           <br>
           <a class="btn link" href="../Alumnos/altaAlumnos.html">Agregar Alumno</a> 
           <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Carrera</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Tipo</th>

                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </thead>
                <tbody>
                    <tr>
                        <td>12345678</td>
                        <td>Jose</td>
                        <td>Masculino</td>
                        <td>351 999 999</td>
                        <td>algo#@accitesz.com</td>
                        <td>Ing. En Sistemas</td>
                        <td>Activo</td>
                        <td>Alumno</td>
                        <td><a href="Modificar.html"><img src="../img/write.png"></a></td>
                        <td><a href="Eliminar.html"><img src="../img/delete.png"></a></td>
                    </tr>
                    <tr>
                        <td>12345678</td>
                        <td>Luis</td>
                        <td>Masculino</td>
                        <td>351 999 999</td>
                        <td>algo#@accitesz.com</td>
                        <td>Ing. En Sistemas</td>
                        <td>Activo</td>
                        <td>Alumno</td>
                        <td><a href="Modificar.html"><img src="../img/write.png"></a></td>
                        <td><a href="Eliminar.html"><img src="../img/delete.png"></a></td>
                    </tr>
                    <tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#">Anterior</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Siguiente</a>
                </li>
            </ul> 
            </nav>
            <a class="linkButton btn link" href="#">Regresar</a>     
        </section>
        <br>
        <footer id="copy" class="navbar-expand-sm">
            <p>ITESZ</p>
            <p>&copy; Derechos reservados</p>
            <p><a href="https://www.teczamora.mx/">teczamora.com</a></p>
        </footer>
</BODY>
</HTML>