body {
    background-image: url(../img/gui-Login.PNG);
    transition: 0.2s ease-in;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

.añadirAlumno {
    
    background: rgb(24, 66, 131);
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568) ;
    transition: 0.2s ease-in;
}

.añadirAlumno:hover {
    background: rgb(19, 168, 54);
    color: white;
}

ul{
    background: rgb(24, 66, 131);;
    color: white;
    font-size: 18px;
    padding: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568) ;
    transition: 0.2s ease-in;
}

h2 {
    font-size: 35px; 
    font-family: monospace;
    padding: 0px;
}