<!DOCTYPE HTML>
<HTML>
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/Plantilla.css">
    <link rel="stylesheet" href="../CSS/Problemas.css">
    <link rel="icon" href="../img/Icono.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Problemas Resueltos</title>
</HEAD>

<BODY>
    <nav class="form-group navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <img src="../img/tec-navBar.png" alt="Logo" style="width:40px;">
            <li class="nav-item active">
                <a class="nav-link" href="Problemas.html">Problemas Resueltos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Categorias</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">Docentes</a>
            </li>
            <li class="nav-item">
                <div class="container">                                     
                    <div class="dropdown">
                      <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">
                        Problemas
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="../bancoProblemas/Problemas.html">Banco</a>
                        <a class="dropdown-item" href="../problemasPropuestos/readme.txt">Propuesta</a>
                        <a class="dropdown-item" href="../problemasResueltos/Resueltos.html">Resultados</a>
                      </div>
                    </div>
                </div>
            </li>
            <li class="nav-item" id="Cerrar">
                <button type="button" class="close" data-dismiss = "modal" aria-label="close">
                Cerrar
                    <span aria-hidden="true">
                        &times; 
                    </span>
                </button>
            </li>   
        </ul>
    </nav>

    <main>
        <div class="container2 table-responsive">
            <table class="table3 table-striped table-hover">
                <thead class="thead-dark">
                    <th scope="col">ID R</th>
                    <th scope="col">ID P</th>
                    <th scope="col">ID E</th>
                    <th scope="col">Tiempo Ejecución</th>
                    <th scope="col">Puntaje</th>
                </thead>

                <tbody>
                    <tr class="table">
                        <td>170</td>
                        <td>170</td>
                        <td>30</td>
                        <td>30</td>
                        <td>30</td>
                    </tr>
                    <tr class="table">
                        <td>171</td>
                        <td>171</td>
                        <td>5</td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <br>
    <footer id="copy" class="navbar-expand-sm">
        <center>
            <div>
                <br><br><br><br><br><br>
                <a class="btn link itesz" href="https://www.teczamora.mx/">Sitio Web Oficial ITESZ</a>
                <br>
                &copy; Derechos reservados 2020
            </div>
        </center>
    </footer>

</BODY>
</HTML>