<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="{{url_for('static',filename='JS/global.js')}}"></script>
    <meta charset="UTF-8">
    <title>Consultar PPropuestos</title>
</head>
<body>
<ul class="nav nav-tabs">
      <li class="nav-item">
    <a class="nav-link" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Alumnos">Alumnos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Categorias">Categorias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Docentes">Docentes</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/Problemas">BancoProblemas</a>
  </li>
      <li class="nav-item">
    <a class="nav-link active" href="/PPropue">PPropuestos</a>
  </li>

</ul>
    <h1>Consulta General: PP</h1>
    <table class="table table-striped" border="1">
        <thead>
        <th>idProPue</th>
        <th>globo</th>
        <th>idProblema</th>
        <th>idEdicion</th>
        <th>idCategoria</th>
        <th>Editar</th>
        <th>Eliminar</th>
        </thead>
        {% for a in ppGeneral %}
         <tr>
             <td>{{a.idProPue}}</td>
             <td>{{a.globo}}</td>
             <td>{{a.idProblema}}</td>
             <td>{{a.idEdicion}}</td>
             <td>{{a.idCategoria}}</td>
             <td><a href="/ppropuestos/{{a.idProPuel}}"><img src="{{url_for('static',filename='IMG/modificar.png')}}"></a></td>
             <td><a href="/ppropuestos/eliminar/{{a.idProPue}}"><img src="{{url_for('static',filename='IMG/eliminar.png')}}"></a></td>

         </tr>
        {% endfor %}
    </table>
<!--<a href="alumnos/new">Añadir Alumno</a>-->
<a href="ppropuestos/new" class="btn btn-info" role="button">Añadir PP</a>
</body>
</html>