<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <title>Concurso-Programacion</title>
        <meta charset="utf-8">
    </HEAD>
    <link rel="stylesheet" href="../CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/estilo.css">
    <BODY>
        <nav>
            <ul>
                <li><a href="#">Alumnos </a></li> 
                <li><a href="#">Categorias </a></li> 
                <li><a href="#">Docentes </a></li> 
                <li><a href="#">ProblemasPropuestos </a></li> 
            </ul>
        </nav>
    
    </BODY>
</HTML>