<!DOCTYPE HTML>
<HTML>

<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/alumnos.css">
    <title>modificarAlumnos</title>
</HEAD>

<BODY>
    <nav class="form-group navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <img src="../img/tec-navBar.png" alt="Logo" style="width:40px;">
            <li class="nav-item active">
                <a class="nav-link" href="#">Alumnos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Docentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">ProblemasPropuestos</a>
            </li>


        </ul>
    </nav>
    <div class="container">
        <div class="row justify-content-center pt-2 mt-3 mr-1">
            <div class="col-md-4 altaAlumnos">
                <form action="">
                    <div class="form-group text-center pt-3">
                        <h1 class="text-light">Modificar Alumnos</h1>
                        <div class="form-group mx-sm-5 pt-3 text-sm-center" >
                            <input type="number" class="form-control" placeholder="No.Control" 
                            value="17010340" required>
                        </div>
                        <div class="form-group text-center pt-3">
                            <label class="text-light" for="sel1">Semestre:</label>
                            <select class="form-control" id="sel1" >
                                <option>1A</option>
                                <option>1B</option>
                                <option>2A</option>
                                <option>2B</option>
                                <option>3A</option>
                                <option>3B</option>
                                <option>4A</option>
                                <option>4B</option>
                                <option>5A</option>
                                <option>5B</option>
                                <option>6A</option>
                                <option>6B</option>
                                
                                <option selected>
                                        7B
                                </option>
                                <option>7B</option>
                                <option>8A</option>
                                <option>8B</option>
                            </select>
                        </div>
                        <div class="form-group mx-sm-5 pt-3 text-sm-center">
                            <input type="number" class="form-control" placeholder="idProblemasResueltos" 
                            value="001" required>
                        </div>
                        <div class="form-group mx-sm-5 pb-3">
                            <input type="number" class="form-control" placeholder="idCarrera" 
                            value="001" required>
                        </div>
                        <div class="form-group mx-sm-5 pb-3">
                            <input type="number" class="form-control" placeholder="idUsuario" 
                            value="001" required>
                        </div>
                        <div class="form-group mx-sm-5 pb-5">

                            <!-- <input  type="submit" class="btn btn-block aceptar" value="Aceptar" > -->
                            <a href="#" class="btn btn-block aceptar" role="button">Modificar</a>

                        </div>
                    </div>  
                </form>
            </div>
        </div>
    </div>
</BODY>

</HTML>