body {
    background-image: url(../img/gui-Login.PNG);
    transition: 0.2s ease-in;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}
ul{
    background: rgb(24, 66, 131);
    color: white;
    font-size: 18px;
    padding: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568) ;
    transition: 0.2s ease-in;
}
#copy{
    position: relative;
    top: auto;
    background: rgb(24, 66, 131);
    color: seashell;
}
#SitioITESZ{
    color: white;
}
label{
    color: white;
}
legend{
    color: white;
}
fieldset{
    height: 60vh; /*sirve para que el footer se vea en la ventana pero en la parte de abajo*/
    padding: 10px;/*Separacion respecto a la ventana*/
    background:   rgba(37, 37, 37, 0.849);
    font-size: 18px;/*utilizado para el tamaño de letras*/
    transition: 0.2s ease-in;
    border-radius: 30px;/*para que se vean redondos los bordes*/
    background-attachment: fixed; 
}

ul{
    background: rgb(24, 66, 131);
    color: white;
    font-size: 18px;
    padding: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568) ;
    transition: 0.2s ease-in;
}
#Encabezado{
    border-bottom-style: groove;
    border-bottom-color: rgb(24, 66, 131);
    border-bottom-width: 7px;
    font-size: 30px;
    color: rgb(9, 156, 204);;
  }
  