body{
    background-image: url(../img/gui-Login.PNG);
    transition: 0.2s ease-in;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
ul{
    background: rgb(24, 66, 131);
    color: white;
    font-size: 18px;
    padding: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568) ;
    transition: 0.2s ease-in;
}
h1{
    position: static;
    font-size: 45px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    color: rgb(107, 71, 191);
}
#copy{
    position: relative;
    top: auto;
    background: rgb(24, 66, 131);
    color: seashell;
}
footer{
    align-self: flex-end;
    padding: 3px;  
    display: block;
}
#SitioITESZ{
    color: white;
}
#Encabezado{
    border-bottom-style: groove;
    border-bottom-color: rgb(24, 66, 131);
    border-bottom-width: 7px;
    font-size: 30px;
    color: rgb(9, 156, 204);
  }
