/*--------Banco--------*/
.container2{
    width: 80%;
    height: 50vh;
}

.table{
    color: white;
}

.table3{
    width: 100%;
    height: 50vh;
    border-radius: 30px;
    color: white;
}

.container2{
    height: 60vh;
    position: relative;
    left: 10%;
    padding: 10px;
    background:rgba(18, 64, 190, 0.692);
    font-size: 18px;
    transition: 0.2s ease-in;
    border-radius: 2rem;
    background-attachment: fixed; 
}
/*--------Resueltos--------*/