<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>TecZamora</title>
        <script>
            function ocultarDivs(){
                document.getElementById("admin").style.display='none';
                document.getElementById("alumnos").style.display='none';
                document.getElementById("docentes").style.display='none';
            }
            function verificarTipo(){
                var tipo=document.getElementById("tipo").options[document.getElementById("tipo").options.selectedIndex].value;
                alert(tipo);
                switch(tipo){
                    case 'Ad':
                        document.getElementById("admin").style.display='block';
                        break;
                    case 'Al':
                         document.getElementById("alumnos").style.display='block';
                         break;
                    case 'Do':
                         document.getElementById("docentes").style.display='block';
                }
            }
        </script>
    </head>
    <body onload="ocultarDivs()">
        <h1>Registro de Usuarios</h1>
        <form action="/usuarios/guardar" method="post">
            <label>Nombre:</label>
            <input type="text" placeholder="Nombre" name="nombre" maxlength="100" required>
            <br><br>
            <label>Sexo:</label>
            <input type="radio" checked name="sexo" value="F">Femenino
            <input type="radio" name="sexo" value="M">Masculino
            <br><br>
            <label>Telefono:</label>
            <input type="tel" name="telefono" placeholder="###-###-####" required>
            <br><br>
            <label>Email:</label>
            <input type="email" name="email" placeholder="algo@algo" required>
            <br><br>
            <label>Password:</label>
            <input type="password" name="password" required>
            <br><br>
            <label>Tipo:</label>
            <select name="tipo" onchange="verificarTipo()" id="tipo">
                <option selected>--Selecciona el tipo--</option>
                <option value="Ad">Administrativo</option>
                <option value="Al">Alumno</option>
                <option value="Do">Docente</option>
            </select>
            <br><br>
            <label>Estatus:</label>
            <input type="checkbox" name="estatus" value="A" checked>
            <br><br>
            <div id="admin">
                <h1>Datos del Administrador</h1>
                <label>noAdmin</label>
                <input type="number" name="noAdmin">
            </div>
            <div id="alumnos">
                <h1>Datos del Alumno</h1>
                <label>NoControl:</label>
                <input type="number" name="noControl">
            </div>
            <div id="docentes">
                <h1>Datos del Docente</h1>
                <label>NoControlDocente:</label>
                <input type="number" name="noControlDocente">
            </div>

            <input type="submit" value="Registrar">
            <a href="/">Regresar</a>
        </form>
    </body>
</html>
