<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../CSS/altaCategorias.css">
    <link rel="icon" href="../img/Icono.ico">
    <title>Alta-Docentes</title>
</head>
<body>
    
    <nav class="form-group navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <a href="../Principal.html">
                <img src="../img/tec-navBar.png" alt="Logo" style="width:40px;">
            </a>
            <li class="nav-item">
                <a class="nav-link" href="../Alumnos/altaAlumnos.html">Alumnos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../Categorias/altaCategorias.html">Categorias</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../Docentes/altaDocentes.html">Docentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="../problemasPropuestos/altaProplemasPropuesto.html">ProblemasPropuestos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="../problemasResueltos/Resueltos.html">ProblemasResueltos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="../bancoProblemas/BancoProblemas.html">BancoProblemas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="../Carreras/AltaCarrera.html">Carreras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="../Ediciones/AltaEdiciones.html">Ediciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="../Equipos/AltaRegistroEquipos.html">Equipos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="../Usuarios/AltaUsuarios.html">Usuarios</a>
            </li>

            <div class="dropdown show">
                <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Herramientas Docentes
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="../Docentes/consultarDocentes.html">ConsultarDocentes</a>
                    <a class="dropdown-item" href="../Docentes/eliminarDocente.html">EliminarDocentes</a>
                    <a class="dropdown-item" href="../Docentes/modificarDocente.html">ModificarDocentes</a>
                </div>
              </div>


        </ul>     
    </nav>

    <div class="container">
        <div class="justify-content-center pt-2 mt-3 mr-1">
            <div class="col-md-4 altaCategorias">
                <form action="">
                    <div class="form-group text-center pt-3">
                        <h1 class="text-light">Registro Docentes</h1>
                        <div class="form-group mx-sm-5 pt-3 text-sm-center" >
                            <input type="number" class="form-control" placeholder="No.Control" required>
                        </div>
                        <div class="form-group text-center pt-3">
                            <label class="text-light" for="sel1">Escolaridad</label>
                            <select class="form-control" id="sel1">
                                <option>Licenciatura</option>                                
                                <option>Maestria</option>                      
                                <option>Doctorado</option>                               
                                <option>Post-Doctorado</option>
                            </select>
                        </div>      
                        <div class="form-group mx-sm-5 pt-3 text-sm-center">
                            <input type="text" class="form-control" placeholder="Especialidad">
                        </div>
                        <div class="form-group mx-sm-5 pb-3">
                            <input type="text" class="form-control" placeholder="Cedula">
                        </div>
                        <div class="form-group mx-sm-5 pb-3">
                            <input type="text" class="form-control" placeholder="idDocente">
                        </div>
                        <div class="form-group mx-sm-5 pb-3">
                            <input type="text" class="form-control" placeholder="idCarrera">
                        </div>
                        <div class="form-group mx-sm-5 pb-3">
                            <input type="text" class="form-control" placeholder="idUsuario">
                        </div>
                        <div class="form-group mx-sm-5 pb-5">

                            <!-- <input  type="submit" class="btn btn-block aceptar" value="Aceptar" > -->
                            <a href="#" class="btn btn-block aceptar" role="button">Aceptar</a>

                        </div>
                    </div>  
                </form>
            </div>
        </div>
    </div>


</body>
</html>