<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../CSS/Equipo.css">
        <link rel="icon" href="../img/Icono.ico">
        <title>Registro de Equipos</title>
        
    </head>
    <body>
        <nav class="form-group navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <a href="../Principal.html"><img src="../img/tec-navBar.png" alt="Logo" style="width: 40px;"></a>
                <!--Alumnos-->
                <li class="nav-item">
                    <div class="container">
                        <div class="dropdown">
                            <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">Alumnos</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../Alumnos/altaAlumnos.html">altaAlumnos</a>
                                <a class="dropdown-item" href="../Alumnos/consultarAlumnos.html">ConsultarAlumnos</a>
                                <a class="dropdown-item" href="../Alumnos/modificarAlumno.html">ModificarAlumnos</a>
                                <a class="dropdown-item" href="../Alumnos/eliminarAlumno.html">EliminarAlumnos</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--Categorias-->
                <li class="nav-item">
                    <div class="container">
                            <div class="dropdown">
                                <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">Categorias</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="../Categorias/altaCategorias.html">altaCategorias</a>
                                    <a class="dropdown-item" href="../Categorias/consultarCategorias.html">ConsultarCategorias</a>
                                    <a class="dropdown-item" href="../Categorias/modificarCategoria.html">ModificarCategorias</a>
                                    <a class="dropdown-item" href="../Categorias/eliminarCategoria.html">EliminarCategorias</a>
                                </div>
                            </div>
                        </div>
                </li>
                <!--Docentes-->
                <li class="nav-item ">
                    <div class="container">
                        <div class="dropdown">
                            <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">Docentes</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../Docentes/altaDocentes.html">altaDocentes</a>
                                <a class="dropdown-item" href="../Docentes/consultarDocentes.html">consultarDocentes</a>
                                <a class="dropdown-item" href="../Docentes/modificarDocente.html">ModificarDocentes</a>
                                <a class="dropdown-item" href="../Docentes/eliminarDocente.html">EliminarDocentes</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--BancoProblemas-->
                <li class="nav-item">
                    <div class="container">
                        <div class="dropdown">
                            <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">Problemas</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../bancoProblemas/BancoProblemas.html">BancoProblemas</a>
                                <a class="dropdown-item" href="../problemasPropuestos/readme.txt">ProblemasPropuestos</a>
                                <a class="dropdown-item" href="../problemasResueltos/Resueltos.html">ProblemasResueltos</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--Carreras-->
                <li class="nav-item active">
                    <div class="container">
                        <div class="dropdown">
                            <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">Carreras</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../Carrera/AltaCarrera.html">AltaCarrera</a>
                                <a class="dropdown-item" href="../Carrera/ConsultarCarrera.html">CosultarCarreras</a>
                                <a class="dropdown-item" href="../Carrera/ModificarCarrera.html">ModificarCarrera</a>
                                <a class="dropdown-item" href="../Carrera/EliminarCarrera.html">EliminarCarrera</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--Ediciones-->
                <li class="nav-item">
                    <div class="container">
                        <div class="dropdown">
                            <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">Ediciones</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../Ediciones/AltaEdiciones.html">AltaEdiciones</a>
                                <a class="dropdown-item" href="../Ediciones/ConsultarEdiciones.html">CosultarEdiciones</a>
                                <a class="dropdown-item" href="../Ediciones/ModificarEdiciones.html">ModificarEdiciones</a>
                                <a class="dropdown-item" href="../Ediciones/EliminarEdiciones.html">EliminarEdiciones</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--Equipos-->
                <li class="nav-item">
                    <div class="container">
                        <div class="dropdown">
                            <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">Equipos</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../Equipos/AltaRegistroEquipos.html">AltaEquipos</a>
                                <a class="dropdown-item" href="../Equipos/CosultarEquipo.html">CosultarEquipos</a>
                                <a class="dropdown-item" href="../Equipos/ModificarEquipo.html">ModificarEquipos</a>
                                <a class="dropdown-item" href="../Equipos/EliminarEquipo.html">EliminarEquipos</a>
                            </div>
                        </div>
                    </div>
                </li>
                <!--Usuarios-->
                <li class="nav-item">
                    <div class="container">
                        <div class="dropdown">
                            <button id="texto1" type="button" class="btn link dropdown-toggle" data-toggle="dropdown">Usuarios</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../Usuarios/AltaUsuarios.html">AltaUsuarios</a>
                                <a class="dropdown-item" href="../Usuarios/ConsultaUsuarios.html">CosultarUsuarios</a>
                                <a class="dropdown-item" href="../Usuarios/ModificarUsuarios.html">ModificarUsuarios</a>
                                <a class="dropdown-item" href="../Usuarios/EliminarUsuario.html">EliminarUsuarios</a>
                            </div>
                        </div>
                    </div>
                </li>
       
            </ul>
        </nav>
        <header id="Encabezado">
            <b><center>INSTITUTO TECNOLOGICO DE ESTUDIO SUPERIOR ZAMORA</center></b>
        </header>
        <form>
            <br>
            <div class="col-md-4 DatosEquipo">  
                <fieldset>
                     <center><legend>Datos del Equipo</legend></center>
                     <label>IdProRes:</label>
                     <input type="IdProRes" name="IdProRes" placeholder="12345678" required>
                     <br><br>
                     <label>IdProPues:</label>
                     <input type="IdProPues" name="IdProPues" placeholder="12345678" required>
                     <br><br>
                     <label>IdEquipos:</label>
                     <input  type="IdEquipo" name="IdEquipo" placeholder="12345678" required>
                     <br><br>
                     <label>Nombre del equipo:</label>
                     <input type="text" name="NombreEquipo" placeholder="Ingrese a su equipo" required>
                     <br><br>
                     <label>NoContro1:</label>
                     <input  type="NoContro1" name="NoContro1" placeholder="1er Integrante" required>
                     <br><br>
                     <label>NoContro2:</label>
                     <input  type="NoContro2" name="NoContro2" placeholder="2do Integrante" required>
                     <br><br>
                     <label>NoContro3:</label>
                     <input  type="NoContro3" name="NoContro3" placeholder="3er Integrante" required>
                     <br><br>
                     <label>IdDocente:</label>
                     <input  type="IdDocente" name="IdDocente" placeholder="12345678" required>
                     <br><br>
                     <label>IdCategoria</label>
                     <input type="IdCategoria" name="IdCategoria" required>
                </fieldset>

            </div>
       
        </form>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <footer id="copy" class="navbar-expand-sm">
            <center>
            <img src="../img/logoACC.png">
            <img src="../img/ISC.png">
            <img src="../img/ITIC.png">
            <img src="../img/INGE E.png">

            </center>
            <br>
            <center><p><a id="SitioITESZ" class="btn link" href="https://www.teczamora.mx/">Sitio web del ITESZ</a>
            <br>&copy; Derechos Reservados 2020</p></center>
            
        </footer>

    </body>


</html>

