<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="../CSS/Equipo.css">
        <link rel="icon" href="../img/Icono.ico">
        <title>Registro de Equipos</title>
        
    </head>
    <body>
        <nav class="form-group navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <img src="../img/tec-navBar.png" alt="Logo" style="width:40px;">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Alumnos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Docentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categorias</a>
                </li>
                <li>
                    
                <!--</li>
                <li class="nav-item">-->
                    <a class="nav-link " href="#">ProblemasPropuestos</a>
                </li>
            </ul>
        </nav>
        <header id="Encabezado">
            <b><center>INSTITUTO TECNOLOGICO DE ESTUDIO SUPERIOR ZAMORA</center></b>
            
        </header>
        <form>
            <br>
            <div class="col-md-4 DatosEquipo">
                <fieldset>
                     <legend>Datos del Equipo</legend>
                     <label>IdProRes:</label>
                     <input type="IdProRes" name="IdProRes" placeholder="12345678" required>
                     <br><br>
                     <label>IdProPues:</label>
                     <input type="IdProPues" name="IdProPues" placeholder="12345678" required>
                     <br><br>
                     <label>IdEquipos:</label>
                     <input  type="IdEquipo" name="IdEquipo" placeholder="12345678" required>
                     <br><br>
                     <label>Nombre del equipo:</label>
                     <input type="text" name="NombreEquipo" placeholder="Ingrese a su equipo" required>
                     <br><br>
                     <label>NoContro1:</label>
                     <input  type="NoContro1" name="NoContro1" placeholder="1er Integrante" required>
                     <br><br>
                     <label>NoContro2:</label>
                     <input  type="NoContro2" name="NoContro2" placeholder="2do Integrante" required>
                     <br><br>
                     <label>NoContro3:</label>
                     <input  type="NoContro3" name="NoContro3" placeholder="3er Integrante" required>
                     <br><br>
                     <label>IdDocente:</label>
                     <input  type="IdDocente" name="IdDocente" placeholder="12345678" required>
                     <label>IdCategoria</label>
                     <input type="IdCategoria" name="IdCategoria">
                </fieldset>


            </div>
       
        </form>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <footer id="copy" class="navbar-expand-sm">
            <center>
            <img src="../img/logoACC.png">
            <img src="../img/ISC.png">
            <img src="../img/ITIC.png">
            <img src="../img/INGE E.png">

            </center>
            <br>
            <center><p><a id="SitioITESZ" class="btn link" href="https://www.teczamora.mx/">Sitio web del ITESZ</a>
            <br>&copy; Derechos Reservados 2020</p></center>
            
        </footer>

    </body>


</html>

