<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Concurso de Programación</title>
        
    </head>

    <body>
        <header>
            <center>
                INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA
               <img src="../Imagenes/portada.PNG"> 
            </center>
        </header>
        <h2 style="color: black">Registro de Equipos</h2>

        <form>

            <div>
                <fieldset>
                    <legend>Datos del Equipo</legend>
                    <label>Nombre del equipo:</label>
                    <!--<textarea>Nombre del Equipo</textarea>-->
                    <input type="">
                    
                    <input>
                   
                </fieldset>



            </div>
        </form>
        <footer>
            <br>
            &copy; Derechos Reservados ITESZ 
        </footer>

    </body>

</html>
