<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../CSS/consultarAlumnos.css">
    <link rel="icon" href="../img/Icono.ico">
    <title>ConsultarAlumnos</title>
</head>

<body>
    <nav class="form-group navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <a href="../Principal.html">
                <img src="../img/tec-navBar.png" alt="Logo" style="width:40px;">
            </a>
            <li class="nav-item active">
                <a class="nav-link" href="../Alumnos/altaAlumnos.html">Alumnos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../Categorias/altaCategorias.html">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../Docentes/altaDocentes.html">Docentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="../problemasResueltos/Resueltos.html">ProblemasResueltos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="../bancoProblemas/BancoProblemas.html">BancoProblemas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="../Carreras/AltaCarrera.html">Carreras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="../Ediciones/AltaEdiciones.html">Ediciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="../Equipos/AltaRegistroEquipos.html">Equipos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="../Usuarios/AltaUsuarios.html">Usuarios</a>
            </li>

            <div class="dropdown show">
                <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Herramientas Alumnos
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="../Alumnos/altaAlumnos.html">RegistrarAlumnos</a>
                    <a class="dropdown-item" href="../Alumnos/eliminarAlumno.html">EliminarAlumno</a>
                    <a class="dropdown-item" href="../Alumnos/modificarAlumno.html">ModificarAlumno</a>
                </div>
            </div>

        </ul>
    </nav>

    <div class="container">
        <h2>ConsultarAlumnos</h2>

        <div>
            <br>
            <Label>Buscar:</Label>
            <input type="text" placeholder="Buscar por NoControl" name="noControl">
            <button>Buscar</button>
            <br>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>No.Control</th>
                    <th>Semestre</th>
                    <th>idProblemasResueltos</th>
                    <th>idCarrera</th>
                    <th>idUsuario</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>17010340</td>
                    <td>7B</td>
                    <td>001</td>
                    <td>001</td>
                    <td>001</td>
                    <td><a href="../Alumnos/modificarAlumno.html"><img src="../img/modificar.png"></a></td>
                    <td><a href="../Alumnos/eliminarAlumno.html"><img src="../img/eliminar.png"></a></td>
                </tr>
                <tr class="table-success">
                    <td>17010340</td>
                    <td>7B</td>
                    <td>001</td>
                    <td>001</td>
                    <td>001</td>
                    <td><a href="../Alumnos/modificarAlumno.html"><img src="../img/modificar.png"></a></td>
                    <td><a href="../Alumnos/eliminarAlumno.html"><img src="../img/eliminar.png"></a></td>
                </tr>
                <tr class="table-danger">
                    <td>17010340</td>
                    <td>7B</td>
                    <td>001</td>
                    <td>001</td>
                    <td>001</td>
                    <td><a href="../Alumnos/modificarAlumno.html"><img src="../img/modificar.png"></a></td>
                    <td><a href="../Alumnos/eliminarAlumno.html"><img src="../img/eliminar.png"></a></td>
                </tr>
            </tbody>
        </table>
        <div class="btn btn-lg justify-content-center ">
            <a href="../Alumnos/altaAlumnos.html" class="btn btn-block añadirAlumno" role="button">Añadir Alumno</a>

        </div>
    </div>
</body>

</html>