<!doctype html>
<html>
    <head>
        <title>TecZamora</title>
        <meta charset="utf-8">
        <img src="{{url_for('static', filename='img/Icono.ico')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='CSS/Estilos.css')}}">
        <script src="{{url_for('static', filename='JS/global.js')}}"></script>
    </head>
    <body align = "center">
        <h1>TECNOLOGICO DE ZAMORA</h1>
        <h2 class="text-light">SIE</h2>
        <form action="/login" method="post">
            <label>Email:</label>
            <input type="email" name="email" required>
            <br><br>
            <label>Password:</label>
            <input type="password" name="password" id="password">
            <br><br>
            <input type="checkbox" onchange="verPassword()" id="check">Ver Contraseña
            <br>
            <div>
                <input class="btn btn btn-outline-info Validar" type="submit" value="Validar">
                <button type="button" class="btn btn-outline-secondary"> Cancelar</button>
            </div>
            <a href="/usuarios/registro">Registrarme</a>
        </form>
    </body>
</html>