<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
            <br>
            <div class="col-md-4 Carrera">
                <fieldset>
                    <form onsubmit="event.preventDefault();metodosJS();" autocomplete="off"></form>
                    <center><legend>Datos de la Carrera:</legend> </center>
                    <label>IdCarrera</label>
                    <input type="number" name="IdCarrera" placeholder="123" required>
                    <br><br>
                    <label>NoControl:</label>
                    <input type="number" name="NoControl" placeholder="Alumno y/o Docente" required>
                    <br><br>
                    <div class="form-group pt-3">
                        <label class="text-light" for="sel1">Carrera:</label>
                        <select class="form-control" id="sel1">
                            <option selected>-----Selecciona la Carrera------</option>
                            <option>Ing. En Sistemas Computacionales</option>
                            <option>Ing. En Tecnologías de la Información y Comunicaciones</option>
                            <option>Ing. En Electrónica</option>
                            <br><br>
                        </select>
                        <div class="form-group pt-3">
                            <label class="text-light" for="sel2">Siglas:</label>
                            <select class="form-control" id="sel2">
                                <option selected>-----Selecciona las Siglas de su Carrera-----</option>
                                <option>ISC</option>
                                <option>ITIC</option>
                                <option>IE</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <center><button id="Guardar"  class="btn btn-block Guardar" onclick="metodosJS()" role="button">Guardar</button>
                    <a id="Cancelar" href="../Principal.html" class="btn link">Cancelar</a></center>


                </fieldset>

            </div>
            <table cclass="list table-hover" id="altaCarrera" border="1" align="right">
                <thead>
                    <tr>
                        <th>IdCarrera</th>
                        <th>NoControl</th>
                        <th>Carrera</th>
                        <th>Siglas</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </form>

</body>
</html>

